{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<h1>Привет, я автор</h1>
<p>
  Чтож, расскажу немного о себе:<br>
  Моё имя Александр Мамонов, в программировании я относительно недавно, если не считать курс по python на степике,<br>
  программировать я начал только на Яндекс Практикуме.<br>
  В программирование меня привело желание КАЧЕСТВЕННО освоить новую профессию и стать в ней профессионалом! Хе-хе<br>
  Не буду врать о том что программирование даётся мне легко, практически каждое новое задание в практикуме <br>
  это вызов на пару часов, если повезёт то минут на 30.<br>
  Но разбираться в этой новой для меня специальности всё же приятно, так как что-то да получается)<br>
  В обучении мне помогает мой брат, он программист на python с 5-и летним стажем работы,<br>
  но те темы которые я прохожу он не знает) так как работает в другой сфере, но его поддержка для меня важна!)<br>
  Не буду выкладывать фотографии своего стола или кружки, а лучше скину котика:<br>
  <img src="{% static 'img/Котик.jpeg' %}">
</p>
{% endblock %}