{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    {% load static %}
    <p>
      На самом деле тут не применялось каких-то интересных инструметов для создания данного сайта,<br>
      всё это стандартные инструменты Django, но интересны тут возможности которые нам дают эти инструменты!<br>
      Такие возможности как например создать данную страницу)<br>
      Или с помощью стандартных инструментов создать формы на любой случа жизни...<br>
      Или без особого труда работать с HTML шаблонами<br>
      Работь базами данных, даже не заботясь о структуре этих БД, Django всё сделает сам)<br>
      И подводя итог можно сказать что хоть эти инструменты очень полезны<br>
      разобраться с ними новичку было весьма непросто!!!<br>
      <img src="{% static 'img/Котик_устал.png' %}">
    </p>
  </article>
</div>
{% endblock %} 